<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/assets/logo.png">
    <title> Spotify-Web Player: Music for everyone</title>
    <link rel="stylesheet" href="../static/css/spotify.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="main">
        <div class="sidebar">
            <div class="navbar">
                <div id="nav_opt">
                    <div class="nav-option">
                        <i class="fa-solid fa-house"></i>
                        <a href="#">Home</a>
                    </div>
                    <div class="nav-option">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <a href="#">Search</a>
                    </div>
                </div>
                <div class="library">
                    <div class="lib-option">
                        <img src="../static/assets/library_icon.png" width="16px">
                        <a href="#">Your Library</a>
                    </div>
                    <div class="icons">
                        <i class="fa-solid fa-plus"></i>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>

                    <div class="box-1">
                        <h5>Create your first playlist</h5>
                        <p>Its easy, we'll help you</p>
                        <button class="badge">Create playlist</button>
                    </div>
                    <div class="box-2">
                        <h5>Let's find some podcasts to follow</h5>
                        <p>We'll keep you updates on new episodes</p>
                        <button class="badge">Browse podcasts</button>
                    </div>
                    <div class="footer">
                        <a href="#">Legal</a>
                        <a href="#">Privacy Center</a>
                        <a href="#">Privacy policy</a>
                        <a href="#">Cookies</a>
                        <a href="#">About Ads</a>
                        <a href="#">Accessibility</a>
                        <br>
                        <a href="#">Cookies</a>
                        <div class="language">
                            <button class="foot">
                                <i class="fa-solid fa-globe"></i>
                                <a href="#">English</a>
                            </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="main-content">
            <div class="sticky-nav">
                <div class="sticky-nav-icon">
                    <button id="icon"><i class="fa-solid fa-chevron-left"></i></button>
                    <button class=hide id="icon"><i class="fa-solid fa-chevron-right"></i></button>
                </div>
                <div class="sticky-nav-option">
                    <button class="badge hide">Explore Premium</button>
                    <button class="badge hide"><i class="fa-regular fa-circle-down"></i> Install App</button>
                    <button id="sign_up"><b>Sign up</b></button>
                    <button id="log_in"><b>Log in</b></button>
                    <button id=icon class="user"><i class="fa-regular fa-user"></i></button>
                </div>
            </div>

            <div id="songs">
                <div class="heading">
                    <h2> Spotify Playlists</h2>
                    <a href="#">Show all</a>
                </div>
                <div id="music_cards">
                    <div class="cards">
                        <div class="card_header">
                            <img src="../static/assets/card1img.jpeg" height="180px" alt="top 50 songs">
                        </div>
                        <div class="card_body">
                            <h3>Top 50- Global</h3>
                            <p>Your daily update of the most played tracks...</p>
                        </div>
                    </div>
                </div>
                <h2 class="recent">Recently Played</h2>
                <div class="my_playlist">
                    <div class="container">
                        <div id="music_cards">
                            <div class="cards">
                                <div class="card_header">
                                    <img src="../static/assets/card2img.jpeg" height="180px" alt="top 50 songs">
                                </div>
                                <div class="card_body">
                                    <h3>Today's Top Hits</h3>
                                    <p>Darshan Rawal is on top of the Hottest...</p>
                                </div>
                            </div>
                        </div>

                        <div id="music_cards">
                            <div class="cards">
                                <div class="card_header">
                                    <img src="../static/assets/card3img.jpeg" height="180px" alt="top 50 songs">
                                </div>
                                <div class="card_body">
                                    <h3>Classic</h3>
                                    <p>New Music from Rahat Fateh Ali...</p>
                                </div>
                            </div>
                        </div>


                        <div id="music_cards">
                            <div class="cards">
                                <div class="card_header">
                                    <img src="../static/assets/card4img.jpeg" height="180px" alt="top 50 songs">
                                </div>
                                <div class="card_body">
                                    <h3>India Indie</h3>
                                    <p>THe biggest songs of the 2020s...</p>
                                </div>
                            </div>
                        </div>



                        <div id="music_cards">
                            <div class="cards">
                                <div class="card_header">
                                    <img src="../static/assets/card7img.jpg" height="180px" width="180px" alt="top 50 songs">
                                </div>
                                <div class="card_body">
                                    <h3>Pasoori Na</h3>
                                    <p>Satyaprem ki katha... 2023 single</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>

                        <div id="music_cards">
                            <div class="cards">
                                <div class="card_header">
                                    <img src="../static/assets/card8img.jpg" height="180px" width="180px" alt=" top 50 songs">
                                </div>
                                <div class="card_body">
                                    <h3>Barsaat aa gayi</h3>
                                    <p>Trending now near you 2023 single</p>
                                </div>
                            </div>
                        </div>


                        <div id="music_cards">
                            <div class="cards">
                                <div class="card_header">
                                    <img src="../static/assets/card9img.webp" height="180px" width="180px" alt="top 50 songs">
                                </div>
                                <div class="card_body">
                                    <h3>Humraah</h3>
                                    <p>Malang- Unleash the madness...</p>
                                </div>
                            </div>
                        </div>


                        <div id="music_cards">
                            <div class="cards">
                                <div class="card_header">
                                    <img src="../static/assets/card10img.jpeg" height="180px" width="180px" alt=" top 50 songs">
                                </div>
                                <div class="card_body">
                                    <h3>Naseeb se</h3>
                                    <p>Satyaprem ki katha... Sajid Nadiawala</p>
                                </div>
                            </div>
                        </div>

                    </div><br><br><br><br><br>
                    <!-- you are out of div.container -->

                </div>
                <h2 class="featured-charts">Featured Charts</h2>
                <br><br><br>

                <div id="container_featured">
                    <div id="music_cards">
                        <div class="cards">
                            <div class="card_header">
                                <img src="../static/assets/card1img.jpeg" height="180px" alt="top 50 songs">
                            </div>
                            <div class="card_body">
                                <h3>Top 50- Global</h3>
                                <p>Your daily update of the most played tracks...</p>
                            </div>
                        </div>
                    </div>

                    <div id="music_cards">
                        <div class="cards">
                            <div class="card_header">
                                <img src="../static/assets/card5img.jpeg" height="180px" alt="top 50 songs">
                            </div>
                            <div class="card_body">
                                <h3>Top Songs Global</h3>
                                <p>Playlist of Various Artists... By Spotify</p>
                            </div>
                        </div>
                    </div>

                    <div id="music_cards">
                        <div class="cards">
                            <div class="card_header">
                                <img src="../static/assets/card6img.jpeg" height="180px" alt="top 50 songs">
                            </div>
                            <div class="card_body">
                                <h3>Top Songs India</h3>
                                <p>Bollywood Hits Top 10...</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="links">
                    <div id="links">
                        <div class="company">
                            <p style="font-size: 1.25rem;"><b>Company</b></p>
                            <div style="opacity: .7; font-size:.8rem">
                                <p>About</p>
                                <p>Jobs</p>
                                <p>For the Record</p>
                            </div>
                        </div>
                        <div class="communities">
                            <p style="font-size: 1.25rem;"><b>Communities</b></p>
                            <div style="opacity: .7; font-size:.8rem">
                                <p>For Artists</p>
                                <p>Developers</p>
                                <p>Advetising</p>
                                <p>Investors</p>
                                <p>Vendors</p>
                            </div>
                        </div>
                        <div class="useful-links">
                            <p style="font-size: 1.1rem;"><b>Useful links</b></p>
                            <div style="opacity: .7; font-size:.8rem">
                                <p>Support</p>
                                <p>Free Mobile App</p>
                            </div>
                        </div>
                    </div>
                    <div class="social-media">
                        <button id="icons"><i class="fa-brands fa-instagram"></i></button>
                        <button id="icons"><i class="fa-brands fa-twitter"></i></button>
                        <button id="icons"><i class="fa-brands fa-facebook"></i></button>
                    </div>
                </div>

                <div class="main_footer">
                    <div class=line></div>
                </div>

                <span class="copyright"><i class="fa-regular fa-copyright"></i> 2023 Spotify AB</span>
            </div>

        </div>

    </div>
    </div>
    <div class="music-player">
        <div class="album">
            <div class="thumbnail"><img src="../static/assets/card3img.jpeg" height="55px" width="55px"
                    style="border-radius: .25rem; margin: .75rem"></div>

            <div class="now_playing">
                <p style="font-size: .9rem; ">Mere Pass Tum Ho- Rahat Fateh Ali Khan</p>
                <p style="font-size: .7rem; opacity: .75;">Silent Ocean- Lofi Mix</p>
            </div>

        </div>
        <div class="player">
            <div class="player-control">
                <img src="../static/assets/player_icon1.png" class="player-control-icons">
                <img src="../static/assets/player_icon2.png" class="player-control-icons">
                <img src="../static/assets/player_icon3.png" class="play-pause">
                <img src="../static/assets/player_icon4.png" class="player-control-icons">
                <img src="../static/assets/player_icon5.png" class="player-control-icons">
            </div>
            <div class="playback-bar">
                <span class="curr-time" style="font-size: .75rem;">00:00</span>
                <input type="range" min="0" max="100" class="progress-bar">
                <span class="tot-time" style="font-size: .75rem;">5:45</span>

            </div>
        </div>
        <div class="controls">
                <img src="./homework assets/controls_icon1.png" class="play-controls1" height="40rem" width="40rem" >
                <img src="./homework assets/controls_icon3.png" class="play-controls3" height="25rem" width="30rem">
                <img src="./homework assets/controls_icon4.png" class="play-controls4" height="20rem" width="30rem">
                <img src="./homework assets/controls_icon5.png" class="play-controls5" height="65rem" width="50rem">
                <input type="range" min="0" max="100" class="vol-bar">
            </div>
        </div>
    </div>
    </div>
</body>

</html>